<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rocket Medical</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/checkbox.css">

    <script src="https://unpkg.com/vue@next"></script>


    <script src="js/script.js"></script>
</head>
<body>
    <div id="app">
        <div class="intro">
            <header>
                <div class="header_sizer">
                    <div class="logo">
                        <img src="assets/logo.svg" alt="Rocket Medical Logo">
                    </div>
                    <div class="header_right_nav">
                        <ul class="nav-links">
                            <li><a href="">{{translation.nav.about_us}}</a></li>
                            <li><a href="">{{translation.nav.stats}}</a></li>
                            <li><a href="">{{translation.nav.about_services}}</a></li>
                            <li><a href="">{{translation.nav.services}}</a></li>
                            <li><a href="">{{translation.nav.feedback}}</a></li>
                            <li><a href="">{{translation.nav.contacts}}</a></li>
                        </ul>
                        <div class="language_selector">
                            <div class="selected_language" @click="openLanguageSelector">{{langs[selected_lang]["name"]}}</div>
                            <div class="language_selector-dropdown">
                                <ul>
                                    <li v-for="(lang, index) in langs" @click="selectLanguage(index)" >
                                        <span :class="{active: selected_lang == index}">{{lang.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="phone">
                            +7 (260) 942-28-83
                        </div>
                    </div>
                </div>
            </header>
            <div class="intro-info">
                <div class="intro-text">
                    <div class="positioner"> <!--- helps position this data via flex -->
                        <div class="title" v-html="translation.intro.title"></div>
                        <div class="description" v-html="translation.intro.description"></div>
                        <a href="#" class="action-button" v-html="translation.intro.action"></a>
                    </div>
                </div>
                <div class="intro-image">
                    <img src="assets/intro_image.svg" alt="Rocket Medical Science">
                </div>
            </div>
        </div>
        <div class="stats sized">
            <h1 class="stats-title category-title" v-html="translation.stats.title"></h1>
            <h6 class="stats-subtitle" v-html="translation.stats.subtitle"></h6>
            <div class="stats-data">
                <div class="stats-item">
                    <h1 class="si-title">200+</h1>
                    <div class="si-description" v-html="translation.stats.first"></div>
                </div>
                <div class="stats-item">
                    <h1 class="si-title">12000+</h1>
                    <div class="si-description" v-html="translation.stats.second"></div>
                </div>
                <div class="stats-item">
                    <h1 class="si-title">5000+</h1>
                    <div class="si-description" v-html="translation.stats.third"></div>
                </div>
                <div class="stats-item">
                    <h1 class="si-title">10+</h1>
                    <div class="si-description" v-html="translation.stats.fourth"></div>
                </div>
                <div class="stats-item">
                    <h1 class="si-title">100+</h1>
                    <div class="si-description" v-html="translation.stats.fifth"></div>
                </div>
            </div>
        </div>
        <div class="about-us sized">
            <div class="image">
                <img src="assets/about-us.svg" alt="About Rocket Medical">
            </div>
            <div class="info">
                <h1 class="title" v-html="translation.about.title">О нас</h1>
                <p class="description" v-html="translation.about.description"></p>
            </div>
        </div>
        <div class="how-we-work sized">
            <div class="scheme">
                <h1 class="title" v-html="translation.how_we_work.title"></h1>
                <img src="assets/how-we-work.svg" alt="How Rocket Medical Works">
                <div class="step step-1" v-html="translation.how_we_work.step_1"></div>
                <div class="step step-2" v-html="translation.how_we_work.step_2"></div>
                <div class="step step-3" v-html="translation.how_we_work.step_3"></div>
                <div class="step step-4" v-html="translation.how_we_work.step_4"></div>
            </div>
            <div class="image">
                <img src="assets/equals.svg" alt="Equals" class="equals">
                <img src="assets/how-we-work-image.svg" alt="Rocket Medical" class="factory">
            </div>
        </div>
        <div class="sphere-shape-container">
            <div class="features-shape-wrapper">
                <div class="features sized">
                    <h1 class="title category-title" v-html="translation.features.title"></h1>
                    <div class="features-list row">
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/1.svg" alt="Rocket Medical Feature 1" style="margin-right: -30px">
                                <h5 v-html="translation.features.first"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/2.svg" alt="Rocket Medical Feature 2" style="margin-right: -30px">
                                <h5 v-html="translation.features.second"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/3.svg" alt="Rocket Medical Feature 3">
                                <h5 v-html="translation.features.third"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/4.svg" alt="Rocket Medical Feature 4" style="margin-right: -30px; margin-bottom: -20px">
                                <h5 v-html="translation.features.fourth"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/5.svg" alt="Rocket Medical Feature 5" style="margin-right: -30px">
                                <h5 v-html="translation.features.fifth"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/6.svg" alt="Rocket Medical Feature 6">
                                <h5 v-html="translation.features.sixth"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/7.svg" alt="Rocket Medical Feature 7" style="margin-right: -30px">
                                <h5 v-html="translation.features.seventh"></h5>
                            </div>
                        </div>
                        <div class="feature-item-wrapper col-lg-3 col-md-3 col-xs-6">
                            <div class="feature-item">
                                <img src="assets/features_icons/8.svg" alt="Rocket Medical Feature 8" style="margin-right: -30px">
                                <h5 v-html="translation.features.eighth"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback sized">
                <h1 class="title category-title" v-html="translation.feedback.title"></h1>
                <div class="feedback-list row">
                    <div class="feedback-item col-lg-6 col-md-6 col-xs-12">
                        <div class="feedback-data">
                            <div class="feedback-title" v-html="translation.feedback.first.title"></div>
                            <div class="feedback-description" v-html="translation.feedback.first.description"></div>
                        </div>
                        <div class="feedback-author">
                            <div class="avatar" :style="{background: 'url('+translation.feedback.first.author.avatar+')'}">
                            </div>
                            <div class="author-data">
                                <div class="username" v-html="translation.feedback.first.author.username"></div>
                                <div class="company" v-html="translation.feedback.first.author.username"></div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-item col-lg-6 col-md-6 col-xs-12">
                        <div class="feedback-data">
                            <div class="feedback-title" v-html="translation.feedback.second.title"></div>
                            <div class="feedback-description" v-html="translation.feedback.second.description"></div>
                        </div>
                        <div class="feedback-author">
                            <div class="avatar" :style="{background: 'url('+translation.feedback.second.author.avatar+')'}">
                            </div>
                            <div class="author-data">
                                <div class="username" v-html="translation.feedback.second.author.username"></div>
                                <div class="company" v-html="translation.feedback.second.author.username"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts sized">
            <h1 class="title category-title" v-html="translation.contacts.title"></h1>
            <div class="contacts-panel">
                <div class="contacts-details" v-html="translation.contacts.details"></div>
                <div class="contacts-form">
                    <form action="#" method="post">
                        <div class="fields row">
                            <div class="field-wrap col-lg-6 col-md-6 col-xs-12">
                                <a href="#" class="download-directions">
                                    <img src="assets/directions.svg" alt="Rocket Medical Directions Download">
                                    <span v-html="translation.contacts.download_directions"></span>
                                </a>
                            </div>
                            <div class="field-wrap col-lg-6 col-md-6 col-xs-12">
                                <input type="text" class="form-control" :placeholder="translation.contacts.placeholders.first">
                            </div>
                            <div class="field-wrap col-lg-6 col-md-6 col-xs-12">
                                <input type="text" class="form-control" :placeholder="translation.contacts.placeholders.second">
                            </div>
                            <div class="field-wrap col-lg-6 col-md-6 col-xs-12">
                                <input type="tel" class="form-control" :placeholder="translation.contacts.placeholders.third">
                            </div>
                            <div class="field-wrap col-lg-6 col-md-6 col-xs-12">
                                <input type="email" class="form-control" :placeholder="translation.contacts.placeholders.fourth">
                            </div>
                        </div>
                        <div style="margin-bottom: 20px">
                            <input type="checkbox" id="agree_with_policy">
                            <label for="agree_with_policy" v-html="translation.contacts.agreement"></label>
                        </div>
                        <button class="action-button" v-html="translation.contacts.action"></button>
                    </form>
                </div>
                <img src="assets/magnifier.svg" alt="Magnifier" class="magnifier-image">
            </div>
        </div>
        <footer>
            <div class="footer-content sized">
                <div class="left-side">
                    <div class="logo">
                        <img src="assets/logo_white.svg" alt="Rocket Medical White Logo">
                    </div>
                    <div class="rights_info">
                        <p>Copyright © 2021 Rocket Medical</p>
                        <p>All rights reserved</p>
                    </div>
                    <div class="social_media_links">
                        <ul>
                            <li><a href="#"><img src="assets/icons/instagram.svg" alt="Rocket Medical Instagram"></a></li>
                            <li><a href="#"><img src="assets/icons/dribbble.svg" alt="Rocket Medical Dribbble"></a></li>
                            <li><a href="#"><img src="assets/icons/twitter.svg" alt="Rocket Medical Twitter"></a></li>
                            <li><a href="#"><img src="assets/icons/youtube.svg" alt="Rocket Medical Youtube"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-side">
                    <div class="company_links">
                        <h5 v-html="translation.footer.company_title"></h5>
                        <ul>
                            <li><a href="">{{translation.nav.about_us}}</a></li>
                            <li><a href="">{{translation.nav.stats}}</a></li>
                            <li><a href="">{{translation.nav.about_services}}</a></li>
                            <li><a href="">{{translation.nav.services}}</a></li>
                            <li><a href="">{{translation.nav.feedback}}</a></li>
                            <li><a href="">{{translation.nav.contacts}}</a></li>
                        </ul>
                    </div>
                    <div class="help_links">
                        <h5 v-html="translation.footer.help_title"></h5>
                        <div class="terms">
                            <a href="#">Terms of service</a>
                        </div>
                        <div class="privacy">
                            <a href="#">Privacy policy</a>
                        </div>
                        <div style="margin-top: 40px">
                            <div class="language_selector">
                                <div class="selected_language" @click="openLanguageSelector">{{langs[selected_lang]["name"]}}</div>
                                <div class="language_selector-dropdown">
                                    <ul>
                                        <li v-for="(lang, index) in langs" @click="selectLanguage(index)" >
                                            <span :class="{active: selected_lang == index}">{{lang.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="phone">
                                +7 (260) 942-28-83
                            </div>
                        </div>
                    </div>
                    <div class="news_sub">
                        <h5 v-html="translation.footer.news_title"></h5>
                        <div class="news-input-wrapper">
                            <input type="email" class="news-input" :placeholder="translation.footer.news_placeholder">
                            <img src="assets/send.svg" alt="Send Icon">
                        </div>
                        <button class="action-button" v-html="translation.footer.action"></button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>